/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.5    * $base-font-size;
$h2-font-size: 1  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

$font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$font-family-sans-serif: 'Droid Sans', Arial, sans-serif;

/* AAP colour sechme */

      $green : #61A220;
      $nav_blue : #0B6182;
      $nav_blue_light: #0b7ba5;
      $nav_icon : #0A7FAA;
      $white : #FFFFFF;
      $orange : #F17E00;
      $footer : #1E7FA2;
      $button-color:#F36C01;
      $button-color-hover:#fcac33;
      $border-color:  #D7D7D7;
      $question-background : #F7F7F7;
      $slide_dot: #999999;
      $slide_dot_active: #676767;
      $link-color: #1f7fa2;

h1 {
  font-size: $h1-font-size;
}

/* AAP body measurements */

@mixin aap_body_measurements {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
}

/* AAP font style */

@mixin aap_font_style {
      color: $white;
      font-family: $font-family-serif;
      text-decoration: none;
}
@mixin aap_font_body {
      font-family: $font-family-serif;
      text-decoration: none;
      font-weight:normal;
      color: #333333;
}


@mixin aap_content_item {
      text-align: left;
      margin-bottom: 2%;
      background: $white;
      padding: 0 1em;
      color: #333333;

      .node__title a {
       		color:#000;
       		text-decoration:none;
       		line-height: 1em;
       	}

      p {
      	font-style:normal;
      	font-family: $font-family-serif !important;

      	a {
      		font-family: $font-family-sans-serif;
         	color:#f17e00; text-decoration:none;
        }
      }

}

@mixin aap_content_title_panelizer {

			background: none;
      color: #333333;
      padding-left: 0;
 }

@mixin aap_content_link {
		font-family: $font-family-sans-serif;
    color:#f17e00; text-decoration:none; font-weight:normal;
}

// All links unless they are inline in the main content should have SANS-SERIF font-size
a, button {
  font-family: $font-family-sans-serif;
  text-decoration: none;
}
