/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
 @import "compass/css3/border-radius";

form .form-submit {
  padding: 0.3em 1em;
  text-align: center;
  background: $nav_blue_light;
  color: white;
  border: none;
  cursor:pointer;
  &:hover {
  	background: $nav_blue;
    text-decoration: none !important;
  }
}

form.apachesolr-panels-search-form {
  .form-text {
    width: 80%;
  }
  .form-submit {
  background: $button-color;
  &:hover {
    background: $button-color-hover;
  }
  }
}

 .header-donate-link {
  background: #F28300;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0em 1em;
 }

.form-item textarea {
      width: 100%;
      border: 1px solid $border-color;
}


label {
  padding: 2px 1em 0 0;
}
input[type=radio], input.radio {
  margin: 2px 0 0 2px;
  margin: 0 0 0 2px;
  vertical-align: middle;
}


.form-item label, .form-actions label {
    @include aap_font_body;
    vertical-align: middle;
    color:#333333;
    font-weight: normal;
}

.aap-donation-class {
    .form-checkboxes .form-item, .form-radios .form-item {
          float: left;
          width: 33%;
     }
}

.views-slideshow-controls-bottom {
		margin: auto;
    width: 17%;
    float:right;

    .active {
    	.views-content-counter {
    		 background: none repeat scroll 0 0  $slide_dot_active;
    	}
    }

}

/*********************************************************************

    * Layout for dafault page
    *
    *******************************************************************/


.aap-donation-right-class {
    .form-checkboxes .form-item, .form-radios .form-item {
          float: left;
          width: 50%;
     }

     form .form-submit {
     		bottom: 9px;
    		left: 36px;
    		width: 6em;
    		padding:3%;
     }
     .form-item label, .form-actions label {
     		padding: 7% 1%;
     }
}

.surveymonkey-drupal-popup {
  display: none;
  text-align: center;
  margin: 4em auto;
  .close-btn {
    color: red;
  }
  .pane-content {
    text-align: center;
    #surveyMonkeyInfo {
      margin: 0 auto;
    }
  }
}

/* Styles for home page (panel content) image banner content */
div.home-box-top {
  width: 730px;
  margin-bottom: 2em;
  text-align: center;
  img {
    width: 730px;
  }
}
div.home-box-bottom {
  width: 730px;
  margin-bottom: 0.5em;
  div.movstrip {
   overflow: hidden;
   ul {
    list-style: none;
    margin: 0;
    padding: 0;
   }
   ul li {
    float: left;
    width: 170px;
    margin: 6px;
    padding: 0px;
   }
   ul.slides_container li {
    margin: 0;
   }
  }
  img {
    width: 170px;
    height: 100px;
  }
  li.last img {
    width: 55px;
    height: 55px;
  }
}

/* Google custom search controls */
#google-search-header {
  width: 400px;
  float: right;
}
.gsc-control-cse {
  padding: 0px !important;
}
.gsc-clear-button {
  display: none;
}

/* Header donation section */
.header-donate {
  float: right;
  padding: 1em 0em;
  color: #999;
}

.node-readmore {
  background:  #F28300;
  padding: 0.3em 1em;
  a {
    color: white !important;
   text-shadow:1px 1px 1b1c28;
  }
  &:hover {
    background:  $button-color-hover;
  }
}

a.header-button {
  float: right;
  background:  $button-color;
  color: white !important;
  text-shadow:1px 1px 1b1c28;
  margin-left: 1em;
  padding: 0.2em 1em;
  text-decoration: none;
  &:hover {
    background:  $button-color-hover;
  }
}

/**
 * Style for loksabha countdown
 */
 .lok-sabha-countdown {
  background: white;
  margin-top: 1em;
  padding-bottom: 1em;

 .loksabha-countdown-link {
    margin-top: 1em;
    a {
      text-decoration: underline;
      color: #1526EE;
      &:hover {
        color: #1574EE;
      }
    }
  }

  .loksabha-countdown-link1 {
    float: left;
    margin-left: 6.3em;
  }
  .loksabha-countdown-link2 {
    margin-left: 24.7em;
    width: 250px;
  }

  .loksabha-countdown-title {
    color: #DB4937;
    font-size: 2.5em;
    font-family: $font-family-sans-serif;
    margin-left: 0.5em;
    padding-top: 0.3em;
  }
  .loksabha-countdown-content {
    color: #75758A;
    font-size: 1.5em;
    font-family: $font-family-sans-serif;
    margin: 0.3em 0em 0.8em 8.8em;
  }

  #Stage_jbeeb_3 {
    margin-left: 5em;
  }
 }

.lok-sabha-countdown-front {
  margin-bottom: 1em;

  .loksabha-countdown-link1 {
    float: left;
    margin-left: 15em;
  }
  .loksabha-countdown-link2 {
    margin-left: 31em;
    width: 250px;
  }

  .loksabha-countdown-title {
    margin-left: 3.5em;
  }
  .loksabha-countdown-content {
    margin: 0.3em 0em 0.5em 13.8em;
  }

  #Stage_jbeeb_3 {
    margin-left: 8.9em;
  }
}
