/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
@import "compass/css3/images";
@import "base";

html {
  font-size: $base-font-size;
}

// Becuase of the fixed header, body needs top margin
body {
  margin : 0;
  margin-top: 50px;
}
// When there is both fixed header + fixed admin menu, body needs more top margin
html body.admin-menu {
  margin: 0;
  margin-top: 79px !important;
}
html body.admin-menu .top-header-row {
  margin-top: 29px !important;
}

body.admin-menu #admin-menu {
  z-index: 9999;
}

.splash-region {
	.panel-pane {
		margin: 0 auto;
    width: 60%;
	}
}

.panels-flexible-aap_layout-inside
.panels-flexible-row  {
  width: 100%;
}

.panels-flexible-row > .inside {
  @include aap_body_measurements;
}

.top-header-row {
    padding-bottom:0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #FFFFFF;
    z-index: 9999;
    border-bottom:1px solid #008000;
    .top-header-region > .inside {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
    }
}

.main-menu-row {
	//box-shadow: 0 -16px 33px #CCCCCC;
	height: 57px;
}
.main-menu-row > .inside,
.aap-footer-top-class > .inside {
   background-color: $green;
}

.aap-footer-top-class > .inside {
   margin: 0.6em auto;
}

.bottom-content {
	margin-bottom: 5%;
}
.panels-flexible-row.main-menu-row,
.panels-flexible-row.aap-footer-top-class {
  padding : 0;
  background-color: $green;
  height: 0%;
}

.panels-flexible-row.aap-footer-bottom-class {
   background: $footer;
   min-height: 75px;
}


.aap-footer-bottom-class > .inside {
    background: $footer;
}

.panels-flexible-row.aap-page-background-class,
body.front .panels-flexible-aap_layout-inside  {
  background: url('../images/bg_flag.jpg') no-repeat 0px -3px;
  background-size: 100% auto;
}
body.front div.panels-flexible-aap_layout div.main-content .inside,
body.front div.panels-flexible-aap_layout div.middle-content .inside {
  background: white;
}

.main-content,
.middle-content,
.bottom-content {
    margin-top: 2%;
    margin-bottom: 2%
 }

.middle-content > .inside {
  padding: 1em 0;

    panels-flexible-region {
    	.pane-content {
    			color: red;
    	}
   }
 }

    h1.pane-title {
      background-color: $white;
      text-align: center;
      margin: 0.3em 0 0.5em;
      padding: 0.5em 0;
      color: $green;
      font-family: $font-family-sans-serif;
      font-weight: normal;
      border-bottom: 3px solid $green;
    }
.aap-main-content {
   	a {
      color:#136180;
    }
}
.aap-right-side-bar .view-similar-content {
  background: white;
    a {
      color:#1f7fa2;
      a:hover {
        color: #1967AF;
        font-size: 1em;
      }
    }
  }
.aap-main-content.latest-news-class {
         .pane-content {
       position:relative;
       height:534px;

       .view-header img {
       	width: 296px;
    		border: 1px solid #D7D7D7;
       }
    }

}

.aap-donation-class,
.aap-poll-class,
.aap-story-class.aap-main-content {
		.pane-content {
			margin-top: 5%;
			position:relative;
		}

 	.read-more {
    		padding: 0.5em 1.2em;
    	}
}

.aap-donation-class,
.aap-poll-class {
  .pane-content {
       .form-radios {
           margin-top: 6.5%;
       }
    }
}
.aap-poll-class {
  .pane-content {
      ul {
         display: none;
       }
     }

     h4 {
        @include aap_font_body;
        margin: 0;
        padding-bottom: 6px;
     }
}

.header-menu {

    .pane-content {
        @include aap_body_measurements;
      }

    .sf-menu.sf-style-default {
      a {
        color: $white;
        font-size: 0.95em;
        text-decoration: none;
        border: none;
        text-shadow:1px 1px #406b15;
        padding: 0.75em 1.4em;
        .sf-sub-indicator{
          right: 8px;
          top: 0.9em;
        }
        &:hover {
          background-color: #407C04;
        }
      }
    }

    .sf-menu.sf-style-default
    .aap-home-class {
      background: url('../images/home.png') no-repeat scroll center;
      text-indent: -15000px;
      padding-right: 3em;
    }
  }

 .header-menu
 .sf-menu.sf-style-default {
  li {background: $green;}
  li ul {
  			background: $green !important;
  	 li {
  	 		background : none;
  	 		border-bottom: 1px solid #407C04;
  	 		text-align: left;
  	 		a {
  	 				margin: 0;
  	 				&:hover {
              background-color: #407C04;
  	 				}
  	 		}

  	 }
  }
 }

 .header-menu
 .sf-menu.sf-style-default {
    margin-bottom: 0;
 }

 .aap-footer-class {
      width : 100%;
      .pane-title {
        color: white;
        background:none;
        font-family: $font-family-sans-serif;
        text-align: left;
        font-size: 1em;
        padding: 0;
        margin: 0 0 0.2em;
        font-weight: bold;
      }

       .pane-content {
          color: white;
          text-decoration: none;
          font-size: 1em;
       		a {
          color: white;
          &:hover {
          		text-decoration: underline;
          	}
         	}
         li {
          	list-style : none;
          }
         ul {
          	padding: 0;
            margin: 0;
          }
        }

        .aap-contact-form-class {
        	.form-item {
        		margin-bottom: 0.5em;
        	}
        }
    }

 .right-navigation-class {
      width : 100%;
      .pane-content {
      			ul {
      					padding:0;
      					margin: 0;
      			}
              .right-nav_1-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 0% $nav_blue;
             }

              .right-nav_2-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 12.5% $nav_blue;
             }

             .right-nav_3-class  {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 25% $nav_blue;
             }
              .right-nav_4-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 37.5% $nav_blue;
             }
              .right-nav_5-class{
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 50% $nav_blue;
             }
              .right-nav_6-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 62.5% $nav_blue;
             }
              .right-nav_7-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 75% $nav_blue;
             }
              .right-nav_8-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 87.5% $nav_blue;
             }
              .right-nav_9-class {
                   background: url('../images/action_call_2.gif') no-repeat scroll 0px 100% $nav_blue;
             }

             li {
          			list-style: none;
          			line-height: 2.5em;
          			padding-bottom: 0.2em;
      				}

      			a {
         				color: $white;
                text-decoration: none;
                padding-left: 4.5em;
         				font-size: 0.9em;
                font-weight: bold;
          			display: block;
          			&:hover {
          				color: yellow;
                  background-position-x: -5px;
          			}
      				}
         }

  }

  .sliding-region-class,
  .right-navigation-class {
      margin-top : 1em;
    }

  .footer-bottom {
      .pane-title {
        float: left;
        color: $white;
        border-bottom: none;
        text-decoration: none;
        background-color: transparent;
        margin: 0.5em 0.5em 0 0;
        font-size: 1.2em;
        }

     .pane-content li {
        float: left;
        list-style: none outside none;
        padding-top:8px;


      }
      	.first.leaf {
        	padding-top:10px;
        }

      .fb-connector,
      .twitter-social-connector,
      .youtube-social-connector {
            display:block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            width:40px;
            height:40px;

            &:hover {
            	 opacity:0.8; filter:alpha(opacity=80);
            }
         }

      .fb-connector {
        background: url(../images/fb.png) no-repeat;
      }
      .twitter-social-connector {
           background: url(../images/twitter.png) no-repeat;
      }
      .youtube-social-connector {
       background: url(../images/youtube.png) no-repeat;
     }
 }

 .aap-call-us-class {
 			clear:both;
 			float:right;
 			background: url(../images/call-us.png) no-repeat 2% center $footer;
 			 width:48%;
 			 margin-top: 1%;
 			 height:73px;
 			color:#FFFEFD;

 			.content, .title {
 			   padding-left: 15%;
 			   padding-top: 1%;
 			   a{
 						@include aap_font_style;
 						&:hover {color: #EFF743;}
 				}
 			}
 	}


/*********************************************************************

  * Layout for dafault page
  *
 *******************************************************************/

.aap-sidebars-videos {
  margin-left:12%;
  header {
    float: left;
    width: 50%;
  }

  .views-row {
    max-height: 10em;
  }
  .node__title {
    margin: 0;
    line-height: 12px;
    a {
      font-family:$font-family-sans-serif;
      color:#0A6181;
      font-weight:bold;
      text-decoration:none;
    }
  }

  .node__content {
    .read-more {
      display: none;
    }
    padding-bottom: 6px;
    /* .field--name-body {
      max-height: 100px;
      p {
        font-family: $font-family-sans-serif;
      }
    }
    .field--name-field-ct-video {
      float: right;
    width: 50%;
    } */
  }
}





.aap-page-content-class {
  margin-top: 1em;
      .aap-news-item-class .field__items img {
  		  width: 100% !important ;
  		 }
       .pane-title {
          text-align: left;
          background-color: $white;
          margin: 0;
          padding: 0.3em 0.4em;
          color: $green;
          font-family: "Droid Sans", Arial, sans-serif;
          font-size: 2em;
          border-bottom: none;
       }

       .pane-content {
        	margin-top: 1em;
          .node-teaser,
        	.node--full,
          .node-full,
        	.search-result,
          .view-topics,
          .view-similar-content {
       		 	@include aap_content_item;
       		 	padding: 1% 2%;
       		}
       }
       .view-similar-content {
        background: white;
       }
       // Css for topics page
       .aap-topics-item-class {
        padding-right: 1em;
        a {
          color:$link-color;
          &:hover {
            color: #0DB1EC;
          }
        }
       }

       	.view-aap-media {
       		.view-content		{
       			@include aap_content_item;
       			padding: 1% 2%;
       		}
       		a {
       			font-family: $font-family-sans-serif;
         		color:#f17e00;
         		text-decoration:none;
       		 }
       		.video-title {
       			width:200px;
       			font-family: $font-family-serif;
         		color:#f17e00;
         		text-decoration:none;
       		}
       		td {
       			width: 260px;
       			height: 250px;
       		}
       	}

      .field__items a {
      			font-family:$font-family-sans-serif;
      			font-weight:bold;
      			color: #0088CC;
      			text-decoration:none;
      }

      p {
      	@include aap_font_body;
      }

  }

  .aap-donation-right-class-fix {
    position:fixed;
    top: 65px;
  }
  .aap-donation-right-class {
    z-index: 10;

    .pane-content {
    	@include aap_content_item;
    	margin-top: 0;
    	padding-bottom: 5%;
      .form-radios {
           margin: 0;
       }

       .donate-link {
          clear: both;
          text-align: center;
          margin: 1em 0;
          a {
            background:  $nav_blue_light;
            color: white !important;
            padding: 0.2em 1em;
            text-decoration: none;
            &:hover {
              background:  $nav_blue;
            }
          }
       }
    }
  }
  .aap-right-default-class {
  		.pane-content ul {
   	 		padding: 0;
   	 		margin:0;
			}
  }

  .aap-tag-cloud {

    .pane-content {
      @include aap_content_item;
    }
    .more-link {
    	display: none;
    }
  }

 .aap-related-story {
 		margin-left: 12%;
 		margin-right: 0;
 		.view-content .views-row {
      margin-bottom: 5px;
      padding-left: 20px;
      background: url(../images/bullet_img.png) no-repeat 5px 7px;
    }
 }

//  styles for map showing content in pop up
#water_1_,
#foreign_1_:hover {
  fill:#FFFFFF;
  cursor: auto;
}
.view-svg-maps {
  .view-header {
    overflow: hidden;
  }
  .view-content {
     display: none;
  }
}

.ui-dialog-titlebar {
  background: rgb(31, 165, 13);
  color: white;
}
.ui-dialog-content {
  background: yellowgreen;
}

.copyright-content {
  font-family: $font-family-sans-serif;
  color: $white;
  font-size: 0.8em;
  margin-top: 2em;
  p {
    padding: 0;
    margin: 0;
  }
  a {
    color:$white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.field--name-field-content-tags {
  margin: 1em 0;
}

.service-links {
  margin: 1em 0;
}

.more-link {
  text-align: left;
  margin: 1em;
  a {
  color: $white;
  background: $nav_blue_light;
  padding: 0.3em 1em;
  &:hover {
    background: $nav_blue;
    text-decoration: none !important;
  }
  }
}

.pane-page-content .pane-content {
  background: $white;
}

.sf-menu  {
  li.sfHover {
    & > ul {
      top: 2.4em;
    }
  }
}

