.view-id-home_page_content {
	position: relative;
}
#views_slideshow_controls_text_previous_home_page_content-sliding_news {
	background: url(/sites/all/themes/aap_theme/images/slider_arrows_round.png) no-repeat top left;
	width: 44px;
	padding-top: 44px;
	position: absolute;
	z-index: 1000;
	top: 120px;
	left: 10px;
	text-indent: -10000px;
	height: 0px;
}
#views_slideshow_controls_text_next_home_page_content-sliding_news {
	background: url(/sites/all/themes/aap_theme/images/slider_arrows_round.png) no-repeat top right;
	width: 44px;
	padding-top: 44px;
	position: absolute;
	z-index: 1000;
	top: 120px;
	right: 25px;
	text-indent: -10000px;
	height: 0px;
}
#views_slideshow_controls_text_pause_home_page_content-sliding_news {
	display: none;
}
#views_slideshow_controls_text_previous_home_page_content-sliding_news:hover {
	background-position: bottom left;
}
#views_slideshow_controls_text_next_home_page_content-sliding_news:hover {
	background-position: bottom right;
}

.latest-news-block-view,
.press-release-block-view {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin: 0 0.5em;
		padding: 0.7em 1em;
		border-bottom: 1px dashed #ddd;
		font-size: 0.9em;
	}
	a:hover {
		text-decoration: underline;
	}
}

.join-us-on-facebook {
	iframe {
		width: 100%;
	}
}
